<h6>Menu</h6>
{{ form_start(form, {'attr': {'id': 'categories-menu'} }) }}
    {{ form_widget(form.nom, {'label': ' ', 'attr': {'class': 'form-control','placeholder' : 'Nom'} }) }}
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}

<h6>Menu</h6>
{{ form_start(productForm, {'attr': {'id': 'categories-menu-produit'} }) }}
    {{ form_widget(productForm.nom, {'label': ' ', 'attr': {'class': 'form-control','placeholder' : 'Nom'} }) }}
    {{ form_widget(productForm.prix, {'label': ' ', 'attr': {'class': 'form-control','placeholder' : 'prix'} }) }}
    <select class="form-select" id="categorie-menu" aria-label="Default select example">
        <option selected value="0">Choisir une catégorie</option>
        {% for categorieM in categoriesMenu %}
            <option value="{{ categorieM.id }}">{{ categorieM.nom }}</option>
        {% endfor %}
    </select>
    <button type="submit">Enregistrer</button>
{{ form_end(productForm) }}
<div id="menu-msg"></div>