<h6>Carte</h6>
{{ form_start(form, {'attr': {'id': 'categories-carte'} }) }}
    {{ form_widget(form.nom, {'label': ' ', 'attr': {'class': 'form-control','placeholder' : 'Nom'} }) }}
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}


{{ form_start(produitCarteForm, {'attr': {'id': 'categories-carte-produit'} }) }}
    {{ form_widget(produitCarteForm.nom, {'label': ' ', 'attr': {'class': 'form-control','placeholder' : 'Nom'} }) }}
    {{ form_widget(produitCarteForm.prix, {'label': ' ', 'attr': {'class': 'form-control','placeholder' : 'prix'} }) }}
    <select class="form-select" id="categorie-carte" aria-label="Default select example">
        <option selected value="0">Choisir une catégorie</option>
        {% for categorieC in categoriesCarte %}
            <option value="{{ categorieC.id }}">{{ categorieC.nom }}</option>
        {% endfor %}
    </select>
    <button type="submit">Enregistrer</button>
{{ form_end(produitCarteForm) }}
<div id="carte-msg"></div>