<h5>Commandes</h5>
{# <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Heure</th>
      <th scope="col">Service</th>
      {% if is_granted('ROLE_CLIENT') %}
        <th scope="col">Nom du restaurant</th>
      {% endif %}
      {% if is_granted('ROLE_RESTAURANT') %}
        <th scope="col">Nom du client</th>
        <th scope="col">Téléphone du client</th>
      {% endif %}
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for commande in commandes %}
      <tr>  
          <th>{{ commande.date_c }}</th>
          <td>{{ commande.heure }}</td>
          <td>{{ commande.vente }}</td>

          {% if is_granted('ROLE_RESTAURANT') %}
            <td>{{ commande.nom_client }} {{ commande.prenom }}</td>
            <td>{{ commande.telephone }}</td>
          {% endif %}

          {% if is_granted('ROLE_CLIENT') %}
            <td>{{ commande.nom }}</td>
          {% endif %}
          

          <td><a href="{{ commande.id }}">Annuler</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table> #}
{# <table class="table">
  <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Heure</th>
        <th scope="col">Service</th>
        {% if is_granted('ROLE_CLIENT') %}
          <th scope="col">Nom du restaurant</th>
        {% endif %}
        {% if is_granted('ROLE_RESTAURANT') %}
          <th scope="col">Nom du client</th>
          <th scope="col">Téléphone du client</th>
          <th scope="col">Montant</th>
        {% endif %}
        <th scope="col">Actions</th>
      </tr>
      </thead>                   							 
</table> #}
<div class="test">
    <p>Date</p>
    <p>Heure</p>
    <p>Service</p>
    {% if is_granted('ROLE_CLIENT') %}
      <p>Nom du restaurant</p>
    {% endif %}
    {% if is_granted('ROLE_RESTAURANT') %}
      <p>Nom du client</p>
      <p>Téléphone du client</p>
      <p>Montant</p>
    {% endif %}
    <p>Actions</p>
</div>
<div>
{% for commande in commandes %}
  <button class="accordion-c">
    <p>{{ commande.date_c }}</p>
    <p>{{ commande.heure }}</p>
    <p>{{ commande.vente }}</p>

    {% if is_granted('ROLE_RESTAURANT') %}
      <p>{{ commande.nom_client }}</p>
      <p>{{ commande.telephone }}</p>
    {% endif %}

    {% if is_granted('ROLE_CLIENT') %}
        <p>{{ commande.nom }}</p>
    {% endif %}
    {% if is_granted('ROLE_RESTAURANT') %}
      <p>100 €</p>
    {% endif %}

   <a href="{{ commande.id }}">Annuler</a>
  </button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>   
{% endfor %}   
</div>
    






















{# {% for commande in commandes %}
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            {{ commande.date_c }} | 
            {{ commande.heure }} | 
            {{ commande.vente }} |

            

            {% if is_granted('ROLE_CLIENT') %}
              | {{ commande.nom }}
            {% endif %}
            
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            {% if is_granted('ROLE_RESTAURANT') %}
              {{ commande.nom_client }} {{ commande.prenom }} |
              {{ commande.telephone }}
            {% endif %}
        </div>
      </div>
    </div>  
  </div>  #}
{# {% endfor %} #}




