  <table data-controller="fermeture" class="table">
    <thead>
      <tr>
        <th scope="col">Date début</th>
        <th scope="col">Date fin</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id="fermetureTab"></tbody>
  </table>

  <form>
    <label for="inputState" class="form-label">Date début de congé</label>
    <input type="date" id="deb_conge" name="deb_conge" class="form-control" required>
                            
    <label for="inputState" class="mt-3 form-label">Date fin de congé</label>
    <input type="date" id="fin_conge" name="fin_conge" class="form-control" required>

    <button type="submit" id="submitFermeture" name="submit" class="mt-3 btn btn-primary">Valider</button>             
  </form>
  <div id="messageFermeture"></div>



