<div class="mt-5">
<p>Laisser vide si le restaurant est fermé.</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th id="title" scope="col">Jour</th>
                <th id="title" scope="col" colspan="2">Matin</th>
                <th id="title" scope="col" colspan="2">Soir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <form action="{{ path('upd_horaire', {id:id}) }}" method="POST">
                <th scope="row">Lundi</th>
                    <td><input type="time" name="lundi_o_m" value="{{ horaire.lundi_o_m }}"></td>
                    <td><input type="time" name="lundi_f_m" value="{{ horaire.lundi_f_m }}"></td>
                    <td><input type="time" name="lundi_o_s" value="{{ horaire.lundi_o_s }}"></td>
                    <td><input type="time" name="lundi_f_s" value="{{ horaire.lundi_f_s }}"></td>
                </tr>
                <tr>
                <tr>
                <th scope="row">Mardi</th>
                    <td><input type="time" name="mardi_o_m" value="{{ horaire.mardi_o_m }}"></td>
                    <td><input type="time" name="mardi_f_m" value="{{ horaire.mardi_f_m }}"></td>
                    <td><input type="time" name="mardi_o_s" value="{{ horaire.mardi_o_s }}"></td>
                    <td><input type="time" name="mardi_f_s" value="{{ horaire.mardi_f_s }}"></td>
                </tr>
                <tr>
                <tr>
                <th scope="row">Mercredi</th>
                    <td><input type="time" name="mercredi_o_m" value="{{ horaire.mercredi_o_m }}"></td>
                    <td><input type="time" name="mercredi_f_m" value="{{ horaire.mercredi_f_m }}"></td>
                    <td><input type="time" name="mercredi_o_s" value="{{ horaire.mercredi_o_s }}"></td>
                    <td><input type="time" name="mercredi_f_s" value="{{ horaire.mercredi_f_s }}"></td>
                </tr>
                <tr>
                <tr>
                <th scope="row">Jeudi</th>
                    <td><input type="time" name="jeudi_o_m" value="{{ horaire.jeudi_o_m }}"></td>
                    <td><input type="time" name="jeudi_f_m" value="{{ horaire.jeudi_f_m }}"></td>
                    <td><input type="time" name="jeudi_o_s" value="{{ horaire.jeudi_o_s }}"></td>
                    <td><input type="time" name="jeudi_f_s" value="{{ horaire.jeudi_f_s }}"></td>
                </tr>
                <tr>
                <tr>
                <th scope="row">Vendredi</th>
                    <td><input type="time" name="vendredi_o_m" value="{{ horaire.vendredi_o_m }}"></td>
                    <td><input type="time" name="vendredi_f_m" value="{{ horaire.vendredi_f_m }}"></td>
                    <td><input type="time" name="vendredi_o_s" value="{{ horaire.vendredi_o_s }}"></td>
                    <td><input type="time" name="vendredi_f_s" value="{{ horaire.vendredi_f_s }}"></td>
                </tr>
                <tr>
                <tr>
                <th scope="row">Samedi</th>
                    <td><input type="time" name="samedi_o_m" value="{{ horaire.samedi_o_m }}"></td>
                    <td><input type="time" name="samedi_f_m" value="{{ horaire.samedi_f_m }}"></td>
                    <td><input type="time" name="samedi_o_s" value="{{ horaire.samedi_o_s }}"></td>
                    <td><input type="time" name="samedi_f_s" value="{{ horaire.samedi_f_s }}"></td>
                </tr>
                <tr>
                <tr>
                <th scope="row">Dimanche</th>
                    <td><input type="time" name="dimanche_o_m" value="{{ horaire.dimanche_o_m }}"></td>
                    <td><input type="time" name="dimanche_f_m" value="{{ horaire.dimanche_f_m }}"></td>
                    <td><input type="time" name="dimanche_o_s" value="{{ horaire.dimanche_o_s }}"></td>
                    <td><input type="time" name="dimanche_f_s" value="{{ horaire.dimanche_f_s }}"></td>
                </tr>
                <tr>
            </tbody>
        </table>
        <button class="btn btn-primary" type="submit">Sauvegarder</button>
    </form>
</div>
