<table data-controller="places" class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Place réservable</th>
                <th scope="col">Place libérées</th>
                <th scope="col">Places disponibles</th>
                <th scope="col">Places reservées</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody id="bodyPlaces">
            </tbody>
          </table>
          {# Formulaire de définition des places disponibles #}
          <form method="POST" action="{{ path('place_add') }}">
            <label for="inputState" class="mt-3 form-label">Date</label>
            <input type="date" id="date_place" name="date_place" class="form-control" required>

            <label for="inputState" class="mt-3 form-label">Nombre de place réservables</label>
            <input type="number" id="places" name="places" class="form-control" required>

            <input type="hidden" id="idResto-js" value="{{ app.user.restaurant.id }}">
            <button type="submit" id="submitPlaces" class="mt-3 btn btn-primary">Valider</button>
          </form>

      
          <div id="formliberees"></div>

          <div id="places-msg"></div>

         
          