<h5>Reservations</h5>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Heure</th>
      <th scope="col">Service</th>
      {% if is_granted('ROLE_CLIENT') %}
        <th scope="col">Nom du restaurant</th>
      {% endif %}
      {% if is_granted('ROLE_RESTAURANT') %}
        <th scope="col">Nom du client</th>
        <th scope="col">Téléphone du client</th>
      {% endif %}
      <th scope="col">Nombre couvert</th>

      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id="tbody-reservation">
    {% for reservation in reservations %}
      <tr>  
          <th>{{ reservation.date }}</th>
          <td>{{ reservation.horaire }}</td>
          <td>{{ reservation.service }}</td>
          {% if is_granted('ROLE_RESTAURANT') %}
            <td>{{ reservation.nom_client }} {{ reservation.prenom }}</td>
            <td>{{ reservation.telephone }}</td>
          {% endif %}

          {% if is_granted('ROLE_CLIENT') %}
            <td>{{ reservation.nom }}</td>
          {% endif %}
          
          
          <td>{{ reservation.nombre }}</td>
          <td><a href="{{ path('cancel_reservation', {id: reservation.id, uuid: reservation.uuid}) }}" id="cancel-reservation">Annuler</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
