<h5>SMS</h5>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">SMS (Achat + Solde)</th>
      <th scope="col">SMS utilisés</th>
      <th scope="col">SMS restant</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if sms.id is defined %}
      <tr>  
          <td id="solde">{{ sms.solde }}</td>
          <td id="smsUtilise">{{ sms.smsUtilise }}</td>
          <td id="restant">{{ sms.solde - sms.smsUtilise}}</td>
    {% else %}
      <tr>  
          <td>0</td>
          <td>0</td>
          <td>0</td>
    {% endif %}
          <td><a href="{{ path('reload_sms') }}" id="reloadSMS">Actualiser</a></td>
      </tr>
  </tbody>
</table>


<h5>Achat de SMS</h5>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Quantité SMS</th>
      <th scope="col">Prix TTC</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     {% for row in achat %}
      <tr>  
          <td>{{ row.quantite }}</td>
          <td>{{ row.prix }}€</td>
          <td>
            <form action="/create-checkout-session" method="POST">
              <input type="hidden" name="idProd" value="{{ row.id }}">
              <button type="submit">Acheter</button>
            </form>
          </td>
      </tr>
     {% endfor %}
  </tbody>
</table>