{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}    
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
				    <div class="login-wrap p-4 p-md-5">
                        <h3 class="text-center mb-4">Se connecter</h3>
                       
                        <form action="{{ path('security_login') }}" method="post">
                            <div class="group-input">
                                <input type="text" class="global-input" name="_username" placeholder="adressemail@mail.fr" required value="{{ last_username }}">
                                <label for="_username" class="label-form">Adresse Email</label>
                            </div>
                            <div class="group-input">
                                <input type="hidden" name="go_to" value="{{ path('profil') }}"/>
                                <input type="password" class="global-input" name="_password" placeholder="********" required value="{{ last_username }}">
                                <label for="_password" class="label-form">Mot de passe</label>
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="mt-4 form-control btn btn-primary rounded submit px-3">se connecter</button>
                            </div>
                        </form>
                                                
                        <div class="form-group d-md-flex">
                            <a href="{{ path('security_registration') }}">Vous n'avez pas de compte ?</a>
                        </div>
	                </div>
		        </div>
	        </div>
        </div>
    </section>

    {% if errors %}
        <div class="mt-5 alert alert-danger" role="alert">
            {{ errors.messageKey }}
        </div>
        {# | trans(errors.messagedata, 'security' #}
    {% endif %}
    
{% endblock %}
