{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<div data-controller="security">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
				    <div class="login-wrap p-4 p-md-5">
                        <h3 class="text-center mb-4">S'inscrire</h3>
                        {{ form_start(form) }}
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" name="restaurant" id="restaurant-checkbox" value="1">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Je suis un restaurateur</label>
                            </div>
                            <div id="restaurant-form"></div>
                            <div id="user-form">
                                <div class="form-group">
                                    <input type="text" class="form-control rounded-left" name="nom" placeholder="Nom">
                                </div>
                                 <div class="form-group">
                                    <input type="text" class="form-control rounded-left" name="prenom" placeholder="Prenom">
                                </div>
                            </div>
                            <div class="form-box">
                                {# <label class="form-box-label" for="color">What is your favorite color?</label> #}
                                 {{ form_row(form.email, {'label': ' ', 'attr': {'class': 'form-control','placeholder' : 'Email'} }) }}
                            </div>
                            <div class="form-box">
                                {# <label class="form-box-label" for="color">What is your favorite color?</label> #}
                                 {{ form_row(form.email_confirm, {'label': ' ', 'attr': {'class': 'form-control','placeholder' : 'Email conf'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.password, {'label': ' ', 'attr': {'class': 'form-control rounded-left','placeholder' : 'Saisir le mot de passe'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.password_confirm, {'label': ' ', 'attr': {'class': 'form-control rounded-left','placeholder' : 'Confirmer le mot de passe'} }) }}
                            </div>
                           
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">s'inscrire</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <a href="{{ path('security_login') }}">Vous avez déjà un compte ?</a>
                            </div>
                        {{ form_end(form) }}
	                </div>
		        </div>
	        </div>
        </div>
    </section>
</div>
{% endblock %}
