{% extends 'base.html.twig' %}

{% block title %}Recherche de restaurants !{% endblock %}

{% block body %}
<div data-controller="home">
    <div class="container">
        <div class="mt-5 bg-light rounded-3">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Faire une recherche</h2>
                <form class="form-floating" action="{{ path('restaurants') }}" method="POST">
                    <div class="form-floating">
                        <input type="text" class="mt-5 form-control" id="what" name="what" value="Tous les restaurants" placeholder="Tous les restaurants">
                        <span class="clear-input" id="clear-what">X</span>
                        <label for="what">Quoi : Nom du restaurant, cuisine</label>
                        <div id="display-choice-what" class="display-choice">
                            <p id="advanced-choice">Tous les restaurants</p>
                            {% for specialite in specialite %}
                                <p id="advanced-choice">{{ specialite.specialite }}</p>
                            {% endfor %}
                            {% for nom in nom %}
                                <p id="advanced-choice">{{ nom.nom }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="mt-3 form-control" id="where" name="where" value="Toutes les villes" placeholder="Toutes les villes">
                        <span class="clear-input" id="clear-where">X</span>
                        <label for="where">Où : ville</label>
                        <div id="display-choice-where" class="display-choice">
                            <p id="city-choice">Toutes les villes</p>
                            {% for city in city %}
                                <p id="city-choice">{{ city.ville }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="mt-3 btn btn-success" type="submit">RECHERCHE</button>
                </form>
            </div> 
        </div>
        {% include 'flash/message.flash.html.twig' %}   
    </div>
</div>
{% endblock %}
