{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
<div class="container">
<a href="{{ path('home') }}" class="mt-5 btn btn-primary">Faire une nouvelle recherche</a>

    {% include 'reservation/forms/_reservation.html.twig' %}

    {% include 'flash/message.flash.html.twig' %}
</div>
{% endblock %}