<div data-controller="reservation">
    <div class="card mt-5">
        <ul>
            <li>{{ infos.photo }}</li>
            <li>{{ infos.telephone }}</li>
            <li>{{ infos.addresse }}</li>
            <li>{{ infos.zip }}</li>
            <li>{{ infos.ville }}</li>
        </ul>
    </div>
    <form action="{{ path('reservation', {id:id}) }}" method="POST">
        <input type="hidden" id="id_resto" value="{{ id }}">
        <div class="card-form" id="date-form">
            <h6 class="form-label">Date de réservation</h6>
            <input type="date" name="reservation_date" id="reservation_date" class="form-control" required>
        </div>
        <div class="card-form" id="service-form">
            <h6 class="form-label">Service</h6>

            <label class="radio-h">Déjeuner
                <input type="radio" name="service"  id="service" value="dejeuner" class="radio-form" required>
            </label>

            <label class="radio-h">Dîner
            <input type="radio" name="service" id="service" value="diner" class="radio-form" required>
            </label>
        </div>
        <div class="card-form" id="horaire-form">
            <h6 class="form-label">Horaires</h6>
            <div class="radio-container" id="radio-container"></div>
        </div>
        <div class="card-form" id="couvert-form">
            <h6 class="form-label">Nombre de couverts</h6>
            <input type="number" name="couvert" id="couvert" class="form-control" required>
            <button type="submit" id="test" class="mt-3 btn btn-primary">Reserver sans commander</button>  
        </div>
    </form>
    <div id="message-js"></div>
</div>