{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container">   
    <div data-controller="profile"> 
        
        {% if is_granted('ROLE_RESTAURANT') %}
            <div class=" card mt-5">
                <div class="d-flex justify-content-center">
                    <p class="p-2">Nombre de réservation du jour : {{ statistic.reservation }}</p>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="p-2">Nombre de commande du jour : {{ statistic.order }}</p>
                </div>
            </div>
        {% endif %}

        {% for role in app.user.roles %}
            <input type="hidden" id="role-user" value="{{ role }}">
        {% endfor %}

    <div class="d-flex align-items-start border-onglet mt-5">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="compte-tab" data-bs-toggle="pill" data-bs-target="#compte" type="button" role="tab" aria-controls="compte" aria-selected="true">Compte</button>
            {% if is_granted('ROLE_RESTAURANT') %}
                <button class="nav-link" id="v-pills-horaire-tab" data-bs-toggle="pill" data-bs-target="#v-pills-horaire" type="button" role="tab" aria-controls="v-pills-horaire" aria-selected="false">Horaire</button>
                <button class="nav-link" id="v-pills-Menu-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Menu" type="button" role="tab" aria-controls="v-pills-Menu" aria-selected="false">Menu</button>
                <button class="nav-link" id="v-pills-places-tab" data-bs-toggle="pill" data-bs-target="#v-pills-places" type="button" role="tab" aria-controls="v-pills-places" aria-selected="false">Gestions des places</button>
            {% endif %}

            <button class="nav-link" id="v-pills-reservation-tab" data-bs-toggle="pill" data-bs-target="#v-pills-reservation" type="button" role="tab" aria-controls="v-pills-reservation" aria-selected="false">
                {% if is_granted('ROLE_RESTAURANT') %}
                    Réservations
                {% else %}
                    Mes réservations
                {% endif %}
            
            </button>
            <button class="nav-link" id="v-pills-commandes-tab" data-bs-toggle="pill" data-bs-target="#v-pills-commandes" type="button" role="tab" aria-controls="v-pills-commandes" aria-selected="false">
                {% if is_granted('ROLE_RESTAURANT') %}
                    Commandes
                {% else %}
                    Mes commandes
                {% endif %}
            </button>
            
            {% if is_granted('ROLE_RESTAURANT') %}
                <button class="nav-link" id="v-pills-fermeture-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fermeture" type="button" role="tab" aria-controls="v-pills-fermeture" aria-selected="false">Fermeture</button>
                <button class="nav-link" id="v-pills-SMS-tab" data-bs-toggle="pill" data-bs-target="#v-pills-SMS" type="button" role="tab" aria-controls="v-pills-SMS" aria-selected="false">SMS</button>
                <button class="nav-link" id="v-pills-abonnement-tab" data-bs-toggle="pill" data-bs-target="#v-pills-abonnement" type="button" role="tab" aria-controls="v-pills-abonnement" aria-selected="false">Abonnement</button>
             {% endif %}
            <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="compte" role="tabpanel" aria-labelledby="compte-tab">
                    {% if is_granted('ROLE_RESTAURANT') %}
                        <h5>OPTIONS</h5>
                        <p>Veuillez cocher cette case si vous voulez mettre en place le système de réservation en ligne.</p>
                        <div class="form-check" id="option-check">
                            <input class="form-check-input" type="checkbox" value="{{ options.reservation }}" id="reservation" {% if app.user.restaurant.reservationEnLigne %}checked{% endif %}>
                            <label class="form-check-label" for="flexCheckDefault">
                                Mise en place du système de réservation en ligne
                            </label>
                        </div>

                        <p>Veuillez cocher cette case si vous voulez mettre en place le système de commande en ligne.</p>
                        <div class="form-check" id="option-check">
                            <input class="form-check-input" type="checkbox" value="{{ options.commande }}" id="commande" {% if app.user.restaurant.commandeEnLigne %}checked{% endif %}>
                            <label class="form-check-label" for="flexCheckDefault">
                                Mise en place du système de commande en ligne
                            </label>
                        </div>

                        <p>Veuillez cocher cette case si vous voulez recevoir un SMS automatique après chaque réservation et/ou commande de votre client.</p>
                        <div class="form-check" id="option-check">
                            <input class="form-check-input" type="checkbox" value="{{ options.sms }}" id="sms" {% if app.user.restaurant.envoiSMS %}checked{% endif %}>
                            <label class="form-check-label" for="flexCheckDefault">
                                Envoi automatique de SMS
                            </label>
                        </div>
                {% endif %}

                <form enctype="multipart/form-data" class="mt-5" method="POST">
                    <h5>COMPTE</h5>

                    {% if is_granted('ROLE_CLIENT') %}
                        <label for="inputPassword4" class="form-label">Nom</label>
                        <input type="text" name="nom" value="{{ app.user.nomClient }}" class="form-control">
                        
                        <label for="inputPassword4" class="form-label">Prénom</label>
                        <input type="text" name="prenom" value="{{ app.user.prenom }}" class="form-control">
                    {% endif %}
                    {% if is_granted('ROLE_RESTAURANT') %}
                        <label for="inputPassword4" class="form-label">Photo</label>
                        <input type="file" name="photo"  class="form-control">
                        
                        <label for="inputPassword4" class="form-label">Nom du restaurant </label>
                        <input type="text" name="nom_resto" value="{{ app.user.restaurant.nom }}" class="form-control">

                        <label for="inputPassword4" class="form-label">Code postal</label>
                        <input type="text" name="zip" value="{{ app.user.restaurant.zip }}" class="form-control">

                        <label for="inputPassword4" class="form-label">Ville</label>
                        <input type="text" name="ville" value="{{ app.user.restaurant.ville }}" class="form-control">
                    {% endif %}

                    <label for="inputPassword4" class="form-label">Email</label>
                    <input type="email" name="email" value="{{ app.user.email }}" class="form-control">
                            
                    <label for="inputPassword4" class="form-label">Téléphone</label>
                    <input type="text" name="telephone" value="{{ app.user.telephone }}" class="form-control">

                    <button type="submit" name="submit" value="1" class="btn btn-primary mt-3">Modifier</button>
                </form>

                {% if is_granted('ROLE_RESTAURANT') %}
                    {# Formulaire gérant #}
                    <form class="mt-5" method="POST">
                        <h5>GERANT</h5>
                        <label class="form-label">Nom du gérant</label>
                        <input type="text" name="nom_gerant" value="{{ app.user.restaurant.nomGerant }}" class="form-control">

                        <label class="form-label">Téléphone du gérant</label>
                        <input type="text" name="telephone_gerant" value="{{ app.user.restaurant.telephoneGerant }}" class="form-control">

                        <label class="form-label">Email du gérant</label>
                        <input type="email" name="email_gerant" value="{{ app.user.restaurant.emailGerant }}" class="form-control">

                        <button type="submit" name="submitGerant" value="1" class="btn btn-primary mt-3">Modifier</button>
                    </form>
                {% endif %}

                <form class="mt-5" method="POST">
                    <h5>MOT DE PASSE</h5>
                    <label class="form-label">Mot de passe actuel</label>
                    <input type="password" name="old_password" class="form-control" required>

                    <label class="form-label">Mot de passe</label>
                    <input type="password" name="new_password" class="form-control" required>

                    <label class="form-label">Confirmaion du mot de passe</label>
                    <input type="password" name="password_conf" class="form-control" required>

                    <button type="submit" name="submitPass" value="1" class="btn btn-primary mt-3">Modifier</button>
                </form>
            </div>

            {% if is_granted('ROLE_RESTAURANT') %}
            {# HORAIRE #}
            <div class="tab-pane fade" id="v-pills-horaire" role="tabpanel" aria-labelledby="v-pills-horaire-tab">
            
                <div class="mt-5 card mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                {{ form_start(frequenceType) }}
                                    <label for="inputState" class="form-label">Fréquence</label>
                                    {{ form_widget(frequenceType.freq, {'label': ' ', 'attr': {'class': 'form-select'} }) }}
                                    <button type="submit" class="mt-3 btn btn-primary">Enregistrer</button>
                                {{ form_end(frequenceType) }}  
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'profil/partials/horaire.html.twig' with {
                    id : idRestaurant,
                    horaire : horaire
                } only %}
            </div>

            
            {# MENU #}
            <div class="tab-pane fade" id="v-pills-Menu" role="tabpanel" aria-labelledby="v-pills-Menu-tab">
                
                    {# MENU #}
                    <div class="mt-5">
                        {% include 'profil/partials/categories.menu.form.html.twig' with {
                            form: categorieMenuForm,
                            productForm : produitMenuForm,
                            categoriesMenu: categoriesMenu
                        } only %}   
                    </div>

                    {# MENU #}
                   <div class="mt-5">
                        {% include 'profil/partials/categories.carte.form.html.twig' with {
                            form: categorieCarteForm,
                            produitCarteForm : produitCarteForm,
                            categoriesCarte: categoriesCarte
                        } only %}   
                    </div>  
            </div>
            <div class="tab-pane fade" id="v-pills-places" role="tabpanel" aria-labelledby="v-pills-places-tab">
                {% include 'profil/partials/place.html.twig' with {
                    
                } only %}   

            </div>
            {% endif %} 

            

            {# RESERVATIONS #}
            <div class="tab-pane fade" id="v-pills-reservation" role="tabpanel" aria-labelledby="v-pills-reservation-tab">
                {% include 'profil/partials/reservations.list.html.twig' with {
                    reservations: reservations
                } only %}   
                <div id="tab-message"></div>
            </div>

            {# COMMANDES #}
            <div class="tab-pane fade" id="v-pills-commandes" role="tabpanel" aria-labelledby="v-pills-commandes-tab">
                {% include 'profil/partials/commandes.list.html.twig' with {
                    commandes: commandes
                } only %}   
            </div>

            {% if is_granted('ROLE_RESTAURANT') %}
            {# FERMETURE #}
            <div class="tab-pane fade" id="v-pills-fermeture" role="tabpanel" aria-labelledby="v-pills-fermeture-tab">
                 {% include 'profil/partials/conge.html.twig' with {
                    id : idRestaurant
                } only %}
            </div>

            {# SMS #}
            <div class="tab-pane fade" id="v-pills-SMS" role="tabpanel" aria-labelledby="v-pills-SMS-tab">
                <div class="mt-5">
                    {% include 'profil/partials/sms.html.twig' with {
                        sms: sms,
                        achat: achat
                    } only %}   
                </div>    
                <div id="msg-sms"></div>       
            </div>

            <div class="tab-pane fade" id="v-pills-abonnement" role="tabpanel" aria-labelledby="v-pills-abonnement-tab">

                <form enctype="multipart/form-data" action="{{ path('banque', { id: app.user.id }) }}" class="mt-5" method="POST">
                    <h5>Banque</h5>
          
                    <label class="form-label">Nom de la banque</label>
                    <input type="text" name="nomBanque" value="{% if banque is not null %} {{ banque.nomBanque }} {% endif %}" class="form-control">
                        
                    <label class="form-label">Adresse</label>
                    <input type="text" name="adresse" value="{% if banque is not null %} {{ banque.adresse }} {% endif %}" class="form-control">
                        
                    <label class="form-label">Code postal</label>
                    <input type="text" name="zip" value="{% if banque is not null %} {{ banque.zip }} {% endif %}" class="form-control">

                    <label class="form-label">Ville</label>
                    <input type="text" name="ville" value="{% if banque is not null %} {{ banque.ville }} {% endif %}" class="form-control">

                    <label class="form-label">IBAN</label>
                    <input type="text" name="iban" value="{% if banque is not null %} {{ banque.IBAN }} {% endif %}" class="form-control">

                    <label class="form-label">BICS</label>
                    <input type="text" name="bics" value="{% if banque is not null %} {{ banque.BICS }} {% endif %}" class="form-control">
                            
                    <label class="form-label">RIB</label>
                    <input type="file" name="rib"  class="form-control">

                    <button type="submit" name="submit" value="1" class="btn btn-primary mt-3">Modifier</button>
                </form>

            </div>
            {% endif %}
    </div>
</div>

    





 

    


        

    {% include 'flash/message.flash.html.twig' %}  
    </div>
</div>

</div>
{% endblock %}
