{% extends 'base.html.twig' %}

{% block title %}Liste des reservations{% endblock %}

{% block body %}

<div class="container">  
    <a class="mt-5 btn btn-info" href="{{ path('admin', {id : id}) }}">Retour</a>
    {% if reservations is empty %}
        <div class="mt-5 alert alert-info">
            Il y a aucune réservations pour le moment.
        </div>
    {% endif %}
    {% for reservation in reservations %}

        <div class="mt-5 card shadow-sm">
            <div class="card-body">
                <p class="card-text">Service : {{ reservation.service }}</p>
                <p class="card-text">Date : 

                    {% if "now"|date("d/m/Y") == reservation.date | date('d/m/Y') %}
                        aujourd'hui
                    {% else %}
                        {{ reservation.date | date('d/m/Y') }} 
                    {% endif %}
                
                
                à {{ reservation.horaire | date('H:i:s') }}</p>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <p class="btn btn-sm btn-outline-secondary">Nombre de couverts</p>
                        <p class="btn btn-sm btn-outline-danger">{{ reservation.nombre }}</p>
                    </div>
                    <small class="text-muted">ID : {{ reservation.id }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="mt-5 d-flex justify-content-center">
        {{ knp_pagination_render(reservations,'pagination/pagination.html.twig') }}
    </div>
</div>
{% endblock %}