{% extends 'base.html.twig' %}

{% block title %}Commander{% endblock %}

{% block body %}
<div class="container" data-controller="commande">
        <a href="{{ path('home') }}" class="mt-5 btn btn-primary">Faire une nouvelle recherche</a>

            <div class="card mt-5">
            <ul>
                <li>{{ infos.photo }}</li>
                <li>{{ infos.telephone }}</li>
                <li>{{ infos.addresse }}</li>
                <li>{{ infos.zip }}</li>
                <li>{{ infos.ville }}</li>
            </ul>
        </div>
        <form action="{{ path('commande_create', {id:id}) }}" method="POST" id="horaire-commande">
            <input type="hidden" id="id_resto" value="{{ id }}">
            <div class="card-form" id="date-form">
                <h6 class="form-label">Date de la commande</h6>
                <input type="date" name="commande_date" id="commande_date" class="form-control" required>
            </div>
            <div class="card-form" id="service-form-commande">
                <h6 class="form-label">Service</h6>

                <label class="radio-h">Sur place
                    <input type="radio" name="commande_service"  id="commande_service" value="place" class="radio-form" required>
                </label>

                <label class="radio-h">A emporter
                <input type="radio" name="commande_service" id="commande_service" value="emporter" class="radio-form" required>
                </label>
            </div>
            <div class="card-form" id="horaire-form-commande">
                <h6 class="form-label">Horaires</h6>
                <p>Matin : </p>
                <div class="radio-container" id="horaire-commande-container-matin"></div>
                <p>Soir : </p>
                <div class="radio-container" id="horaire-commande-container-soir"></div>
            </div>
            <button type="submit" id="commander" class="mt-3 btn btn-primary">Commander</button>
        </form>

        <div class="accordion" id="menu"></div>
        
        <div  class="accordion mt-5" id="carte"></div>
        <div id="message-js-commande"></div>

        {% include 'flash/message.flash.html.twig' %}
</div>
{% endblock %}