*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}

.form-floating{
    position: relative;
}
.display-choice{
    position: absolute;
    z-index: 99999;
    width: 100%;
    background-color: #E2E3E5;
    top: 70px;
    height: 200px;
    border-radius: 5px;
    padding: 10px 12px;
    overflow: auto;
    display: none;
}

#city-choice,
#advanced-choice{
    padding-left: 10px;
    cursor: pointer;
}

#city-choice:hover,
#advanced-choice:hover{
    background-color: white;
}

.show{
    display: initial;
}

input{
    position: relative;
}

.clear-input{
    position: absolute;
    z-index: 999;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    color: #157347;
    border-radius: 50%;
    border: 1px solid #212529;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.link-card:last-child{
    margin-left: 20px;
}

.card-form{
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    padding: 15px;
}

.radio-form > input{
    margin-right: 15px;
}

#reservation_type_step2_service_1{
    margin-left: 30px;
}

td,
#title{
    text-align: center;
}


#cell{
    cursor: text;
}

td > input{
    width: 100%;
    border: none;
    outline: none;
}

.radio-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: flex-start;
}

.radio-h{
    background-color: #cfcfcf;
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}


.radio-h > input{
    position: absolute;
    right: -5px;
    top: -5px;
}

.footer{
    margin-top: 100px;
}



#service-form{
    display: none;
}

#service-form-commande{
    display: none;
}

#horaire-form-commande{
    display: none;
}
#horaire-form{
    display: none;
}

#couvert-form{
    display: none;
}

#commander{
    display: none;
}

.group-input{
    margin-top: 50px;
    transition: all .3s;
}

.label-form{
    display: block;
    position: absolute;
    opacity: 1;
    font-size: 1em;
    margin-left: 10px;
    transform: translateY(-2.25em);
    transform-origin: 0 0;
    transition: all .3s;
    /* z-index: -1; */
}

.global-input{
    box-shadow: none;
    background-color: white;
    border-radius: 5px;
    border-color: #ccc;
    border: 2px solid #ccc;
    width: 100%;
    transition: all .5s;
    padding: 10px;
    width: 100%;
}

.global-input::placeholder{
    color: transparent;
}

.global-input:focus{
    box-shadow: none;
    outline: none;
    border-color: blue;
}

/* .global-input:focus-within{
    transform: scale(1.05,1.05);
} */

.global-input:focus + .label-form,
.global-input:not(:placeholder-shown) + .label-form{
    transform: translateY(-3.5em) scale(.8);
    z-index: 99;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    color: blue;
}



/*Page de profil */

.vertical-menu{
    width: 100%;
    background-color: #ccc;
    margin-top: 80px;
    border-radius: 5px;
    position: relative;
}

.vertical-menu > ul{
    width: 20%;
    border-right: 1px solid gray;
    position: absolute;
    left: 0;
    background-color: #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 616px;
}

.vertical-menu > ul > li{
    list-style: none;
    margin-top: 20px;
    
}

.vertical-menu > .page-menu{
    width: 80%;
    height: 100px;
    position: absolute;
    right: 0;
}

.vertical-menu > .page-menu > form{
    padding: 30px 30px;
    background-color: #ccc;
}

.vertical-menu > .page-menu > form:first-child{
  
    border-top-right-radius: 5px;
    
}

.vertical-menu > .page-menu > form:last-child{
    border-bottom-right-radius: 5px;
}

.border-onglet{
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}


.accordion-c,
.test {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.test{
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
}

.active-accor, .accordion-c:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  border: 1px solid #ccc;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.accordion-c > p,
.accordion-c > a{
    display: inline;
    margin-right: 50px;
}

.accordion-c > p:nth-child(5){
    margin-right: 90px !important;
}

.accordion-c > p:nth-child(6){
    margin-right: 70px !important;
}

.test > p{
    display: inline;
    font-weight: bold;
}

.test > p:nth-child(1){
    margin-right: 95px;
}

.test > p:nth-child(2){
    margin-right: 45px;
}

.test > p:nth-child(3){
    margin-right: 60px;
}

.test > p:nth-child(4){
    margin-right: 43px;
}

.test > p:nth-child(5){
    margin-right: 30px;
}
.test > p:nth-child(6){
    margin-right: 40px;
}

.accordion-c:hover {
    background-color: white;
  }

.accordion-item:nth-child(1n){
    border-top: 1px solid #ccc;
}

#qte{
    padding: 2px 25px;
}

#prixProduit,
#more{
    margin-left: 20px;
}