{% extends 'base.html.twig' %}

{% block title %}Listes des restaurants{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('home') }}" class="mt-5 btn btn-primary">Faire une nouvelle recherche</a>
        <div class="mt-5">
            {% if pagination is empty %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">Il n'éxiste aucun restaurant avec ces données de recherche.  Effectuer une autre <a href="{{ path('home') }}">recherche</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for restos in pagination %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ restos.nom }}</h5>
                                <p class="card-text">{{ restos.addresse }} à {{ restos.ville }}</p>
                                <p class="card-text"><small class="text-muted">Spécialité : {{ restos.specialite }}</small></p>
                                
                                {% if restos.reservationEnLigne %}
                                    <a class="link-card btn btn-secondary" href="{{ path('reservation',{ id : restos.id }) }}">Réserver</a>
                                {% endif %}

                                {% if restos.commandeEnLigne %}
                                    <a class="link-card btn btn-secondary" href="{{ path('commande',{ id : restos.id }) }}">Commander</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(pagination,'pagination/pagination.html.twig') }}
        </div>
    </div>
{% endblock %}
