<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">           
            
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            <script src="https://js.stripe.com/v3/"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                {% if is_granted('ROLE_CLIENT') %}
                    <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
                {% endif %}

                {% if is_granted('ROLE_RESTAURANT') %}
                    <a class="navbar-brand" href="{{ path('profil') }}">{{ app.user.restaurant.nom}}</a>
                {% endif %}
                
                {% if app.user is not null %}
                    <a class="navbar-brand" href="{{ path('profil') }}">Mon compte</a>
                {% endif %}

                {% if app.user is null %}
                    <a class="" href="{{ path('security_login') }}">Se connecter</a>
                    <a class="" href="{{ path('security_registration') }}">S'inscrire</a>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
