    {% for message in app.flashes('success') %}
        <div class="mt-5 alert alert-success" role="alert">
            {{ message}}
        </div>
    {% endfor %}
      {% for message in app.flashes('danger') %}
        <div class="mt-5 alert alert-danger" role="alert">
            {{ message}}
        </div>
    {% endfor %}